
body,
html {
    height: 100%;
    margin: 0;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.header {
    height: 50px;
    text-align: center;
    background-color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}
.header a{
    color:white;
    text-decoration: none;
}
.content {
    height: 100%;
    text-align: center;
    
}
.footer {
    height: 50px;
    text-align: center;
    background-color: #d0d0d0;
    position: relative;
}
#myimg{
    height: 70%;
    width: auto;
}
.Indicator{
    background-color: lightblue;
    color: black;
    font-size: 18px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: lightblue;
    color: darkred;
}
